<div id="sidebar" class="span3">
  <%= render "search_form" %>
  <%= render :partial => 'constraints' if query_has_constraints? %>
  <%= render :partial=> 'facets' %>
</div>


<div id="content" class="span9">

  <% unless has_search_parameters? %>

    
      <%= render 'home' %>
    <% end %>
  <% else %>

    <% @page_title = t('d2g.search.search_label') %>

    <% extra_head_content << render_opensearch_response_metadata.html_safe %>

    
      <%# results pagination at bottom of page %>
      <%= render :partial => 'results_pagination', :locals => {:top_pagination => false} %>
  <% end %>

</div>